@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.Benefits
{
    
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: flex-start;
    padding-bottom: 2vh;
    overflow-x: hidden;
   
    
}
.Benefits1
{
    
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    padding-bottom: 2vh;
    margin-top: 2%;
    overflow-x: hidden;
    
}
.Benefit
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-left: 1vh;
    align-self: flex-start;
    max-width: 45%;
    
}
.Benefit1
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: 1vh;
    max-width: 70%;
    z-index: 3;
    
    padding:0 2% 0 2%;
      
}
.Benefitheader
{
    
    font-family: 'Poppins', sans-serif;
    font-weight:500px;
    font-size:3.5vw;
}
.Benefitheader2
{
    font-family: 'Poppins', sans-serif;
    font-weight:500px;
    font-size:6.5vw;
    align-self: center;
    color: rgb(255, 255, 255);
}
.Benefitcontent
{
    font-family:  'Poppins', sans-serif;
    font-weight:300;
    font-size: 1.2vw;
    color: rgb(31, 31, 31);
}
.Benefitcontent2
{
    font-family:   'Poppins', sans-serif;
    font-weight:300;
    font-size: 2vw;
    color: rgb(255, 255, 255);
    align-self: center;
    margin-top: -8%;
    padding: 2%;
}
.benefitimgdiv
{
    display: flex;
    flex-direction: row;
    
    align-items:center ;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: auto;
   max-width: 45%;
    align-self: flex-start;
    
}
.benefitimgdiv1
{
    display: flex;

    background-color: aqua;
   width: 110%;
    align-self: center;
    margin-top: -75%;
    z-index: 2;
    
    filter:brightness(50%)
}
