

.header,.header2
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: auto;
    width: 100%;
    
}

    
.headericon
{
    height: auto;
    width:25vmin ;
    z-index: 1;
    margin-top: 1%;
    margin-left: 5%;
    
}
.headeroptions
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    margin-right:5%;

    max-width:100% ;
    
}
.headeroption
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family:'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.1vmax;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    text-decoration: none;
    width: auto;
    margin-right: 2.5vmax;
}
a{
    position: relative;
    transition: all 0.4s ease;
    color: #242425;
    
}
a::after { 
    content: "";
    position: absolute;
    height: 2px;
    background-color: #242424;
    width: 0;
    left: 50%;
    bottom: 0;
    flex-wrap: nowrap;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }
  
  a:hover { color: #2d30f0; }
  a:hover::after { width: 100%; }

  .menu
  {
      height: 5%;
      width: 5%;
      align-self: center;
      margin-right: 5vh;
  }
 
  
