@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.Businessdiv
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width: 100%;
    margin-top: 3%;
    
}
.treebg
{
    align-self: flex-start;
    max-width:35%;
    z-index: 4;
    margin-top: -10%;
    margin-left: -18%;

}
.treebg2
{
    align-self: flex-start;
    max-width:65%;
    margin-top: -92%;
    margin-left: -25%;
    z-index: 1;
}
.AdBackground
{
    align-self: flex-start;
    width:100%;
    
    margin-top: -50%;
  
}
.businessbg
{
    align-self: center;
    width: 100%;
    margin-top: -27%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;

    
}
.adbg
{
    
    align-self: center;
    width: 105%;
    margin-top: 3%;
    
}
.imgboy
{
    align-self: flex-end;
    margin-top: -81%;
    margin-right: 7%;
    width: 48%;
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
    
}

.businesscontent
{
    align-self: center;
   max-width: 55%;
    margin-right:18% ;
    margin-top: -54%;

}
.businesscontent1
{
    align-self: center;
   align-items: center;
display: flex;
flex-direction: column;
justify-content: flex-start;
    max-width: 65%;
    margin-top: 45%;
    text-align: center;
    z-index: 3;
}
.businessheader1
{
    font-family: 'Poppins', sans-serif;
    font-weight:500px;
    font-size:4vw;
    -webkit-text-stroke: .3vh rgb(65, 64, 64);
	-webkit-text-fill-color: transparent;

}
.businessheader11
{
    font-family: 'Poppins', sans-serif;
    font-weight:500px;
    font-size:6.5vw;
    
    -webkit-text-stroke: .2vh rgb(65, 64, 64);
	-webkit-text-fill-color: transparent;

    
}
.businessheader2
{
    font-family: 'Poppins', sans-serif;
    font-weight:500px;
    font-size:4vw;
    margin-top:-8%;
    line-height: 1.2;

}
.businessheader22
{
    font-family: 'Poppins', sans-serif;
    font-weight:500px;
    font-size:6.5vw;
    color: rgb(26, 25, 25);
    margin-top: -10%;
}
.businesscontext
{
    color: rgb(20, 20, 20);
    font-family:  'Poppins', sans-serif;
    font-size: .9vw;
    font-weight:400;
    margin-top: -4%;
    max-width: 40%;
    text-align: justify;
}
.businesscontext1
{
    color: rgb(14, 13, 13);
    font-family:  'Poppins', sans-serif;
    font-size: 2.8vw;
    font-weight: 200;
    margin-top: -3%;
}
.home
{
    align-self: center;
    width:100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    z-index: 1;
    margin-top: 17%;
    overflow: hidden;
    
}
.home1
{
    align-self: flex-start;
    width:100% ;
    margin-top:-25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    z-index: 2;

   
}
.homebg
{
display: flex;
width: 120%;
height: 120%;
margin-left: 6%;
align-self: center;

}
.homebg1
{
    display: flex;
width: 100%;
align-self: center;

}
.homecontain
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-self: center;
    margin-top: -57%;
    width: 75%;
    padding-bottom: .5%;
    
}
.homecontain1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    align-self: center;
    margin-top: -110%;
    width: 90%;
    
}
.Homeheader
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    align-self: flex-start;
    
}
.Homeheader1
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    align-self: flex-start;
    margin-top: -5%;

}
.Logo
{
width: 20%;

}
.Logo1
{
width: 30%;

}
.topdash
{
    width: 55%;
    height: 1vh;
    background-color: rgb(35, 64, 128);
    align-self: center;
}
.homeinfo
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    align-self: flex-start;
}
.homeinfo1
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    align-self: center;
    padding-left: 20%;
}
.Company
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.Company1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
margin-top: 14%;
    
}
.homeheader
{
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.homeheader1
{
    font-size: 2.5vw;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.homecontext
{
    font-size: .8vw;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    color: white;
    max-width: 70%;
    flex-wrap: nowrap;
    text-decoration: none; 
}
.about
{
    width: 7vw;
  
}
.homecontext1
{
    font-size:1.5vw;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none; 
    
}
.usa{
    margin-left: 2vh;
}


.homemapdiv
{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content:space-between;
width: 100%;
height: auto;
}
.homemapdivleft
{
    display: flex;
flex-direction: column;
align-items: flex-start;
justify-content:space-between;
height: 100%;

}

.mapdiv
{

    width: 240%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
}
.mapdiv1
{
    
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.map
{
    width: 100%;
}
.social
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    
    
}
.social1
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.homeiocn
{

margin-left: 0%;
height: 100%;
width: 30%;
padding:0 12% 15% 0%;
}
.homeiocn1
{

margin-left: 0%;
height: 100%;
width: 20%;
margin-left: 5%;
}
.homefooter
{
    width: 100%;
    padding: .5%;
    background-color: rgb(4, 4, 66);
   
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-left:35% ;
    align-self: center;
    margin-bottom:-1% ;
}
.homefooter1
{
    width: 99%;
    padding: .5%;
    background-color: rgb(4, 4, 66);
    align-items: flex-start;
    display: flex;
    justify-content: start;
    padding-left:15% ;
    margin-top: 5%;
}

.footer
{
    padding-left: 28%;
}
