@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.Businessdiv
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width: 100%;
    margin-top: 3%;
    
}
.treebg
{
    align-self: flex-start;
    max-width:20%;
    z-index: -3;

}
.businessbg
{
    align-self: center;
    width: 80%;
    margin-top: -15%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;
    
}
.adbg
{
    
    align-self: flex-start;
    width: 100%;
    
}
.imgboy
{
    align-self: flex-end;
    margin-top: -74%;
    width: 45%;
}
.businesscontent
{
    align-self: center;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);

    width: 45%;
    margin-right:35% ;
    margin-top: -45%;
}
.businessheader1
{
    font-family: 'Fredoka One', bold;
    font-size:3.5vw;
    color: aliceblue;
}
.businessheader2
{
    font-size:3.5vw;
    color: rgb(245, 244, 244);
    font-family:  'Roboto', sans-serif;
}
.businesscontext
{
    color: rgb(245, 244, 244);
    font-family:  'Roboto', sans-serif;
    font-size:1.2vw;
}
.home
{
    align-self: center;
    width:95% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    
}
.homebg
{
display: flex;
width: 100%;
height: 100%;
align-self: flex-start;
}
.homecontain
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: start;
    align-self: center;
    margin-top: -47%;
    width: 66%;
}
.homeheader
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    align-self: flex-start;
    
}
.Logo
{
width: 20%;

}
.topdash
{
    width: 40%;
    height: 1vh;
    background-color: blue;
    align-self: center;
}
.homeinfo
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;

    width: 100%;
    align-self: flex-start;
}
.Company
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.homeheader
{
    font-size: 1.5vw;
    font-family:  'Roboto', sans-serif;
    color: white;
}
.homecontext
{
    font-size: .8vw;
    font-family:  'Roboto', sans-serif;
    color: white;
    text-decoration: none; 
}
.usa{
    margin-left: 2vh;
}
.homemapdiv
{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content:space-between;
width: 100%;
height: auto;
}
.homemapdivleft
{
    display: flex;
flex-direction: column;
align-items: flex-start;
justify-content:space-evenly;
height: 100%;

}

.mapdiv
{
    background-color: rgb(136, 136, 245);
    width: 70%;
    height: 10vh;
    align-self: flex-start;
    background-color: lightblue;
    

}
.social
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.homeiocn
{
background-color: white;
margin-left: 1%;
height: 100%;
width: 25%;
}
.homefooter
{
    width: 130%;
    padding: .5%;
    background-color: rgb(4, 4, 66);
    margin-left:-18%;
    margin-top: 5%;
}
