


.Borgosdiv
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    height: auto;
    width: 100%;

   
}
.Borgosdiv2
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    

   
}
 .borgosteambanner
{
    /* display: flex;
    flex-direction: column;
align-self: flex-start;
    background-color: rgb(5, 5, 119) ;
    border-radius: 50%;
    height: auto;
    width: 350%;
    margin-top: -16%;
    overflow-x: hidden;
    z-index: -1; */
    height:50vmax;
    width: 120%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: -8%;
overflow:hidden;
display: flex;
flex-direction: column;
align-self: center;
justify-content: flex-end;
align-content:center;
}
  .borgosteambanner2
{
    display: flex;
    flex-direction: column;
align-self: flex-start;
    justify-content: center;
    align-content: flex-start;
    border-radius: 0%;
    height: auto;
    width: 100%;
margin-top: -28%;
    z-index: -1;
    

} 
.teamimg
{
   
   width: 100%;
   align-self: center;
   height:auto;
   margin-bottom: -19%;
    
}
.teamimg2
{
   
    margin:0% 0% 0 0%;
align-self: center;
   width: 200%;
    z-index: -1;
}  

.teamcontent
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-self: center;
    margin-left: 5%;
    width: 30%;
    height: auto;
    text-align: center;
    height: auto;
    margin-top: -15%;
    padding-bottom: 10%;
 

} 
 .teamcontent2
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    align-self: center;
   max-width:80%;
    text-align: center;
    height: auto;
    margin-top: -80%;
    padding-bottom: 22%;
    
    
} 
.teamheader
{ font-family: 'Poppins', sans-serif;
    font-weight:500px;
    font-size:3.5vw;
    -webkit-text-stroke: .2vh rgb(65, 64, 64);
	-webkit-text-fill-color: transparent;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    align-self: center;
}
 .teamheader1
{ font-family: 'Poppins', sans-serif;
    font-weight:500px;
    font-size:6.5vw;
    -webkit-text-stroke: .2vh rgb(65, 64, 64);
	-webkit-text-fill-color:transparent;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    align-self: center;
} 

.teamheader2

{
    font-family:   'Poppins', sans-serif;
    font-weight:500;
    font-size: 3.2vw;
    display: flex;
    text-align: left;
    flex-wrap: nowrap;
    margin-top: .5vh;
    align-self: center;
} 
 .teamheader3
{ font-family:   'Poppins', sans-serif;
    font-weight:600;
    font-size: 6.2vw;
    display: flex;
    text-align: left;
    flex-wrap: nowrap;
    margin-top: .5vh;
    align-self: center;
    margin-top:-3%;
text-align: center; 

}
.teamContext
{font-family:  'Poppins', sans-serif;
    font-weight:300;
    display: flex;
    flex-wrap: nowrap;
    text-align: left;
    font-size: 1.2vw;
    margin-top: -1vh;
    text-align: center; 
}
.teamContext2
{font-family:  'Poppins', sans-serif;
    font-weight:300;
    display: flex;
    flex-wrap: nowrap;
    
    font-size: 2.8vw;
    margin-top: -1vh;
    align-self:center ;
text-align: center;
}